<h1>Questions</h1>

<p><%= link_to 'Ask question', new_question_path %></p>

<% @questions.each do |question| %>
  <h2><%= question.title %></h2>
  <time datetime="<%= question.created_at %>">
    <%= question.created_at %>
  </time>
  <p><%= question.body %></p>
<% end %>